<div>
  <p>Ask your coach anything:</p>
  <div>
    <form class="form" action="answer">
      <input class="btn-input" type="text" name="answer">
      <input class="btn-ask" type="submit" value="Ask!">
    </form>
  </div>
</div>
